{include file="index/header" /}
<div class="contain">
	<div class="about">
        <div class="about-head">关于我们</div>
        <div class="about-content">
            一张网页，要经历怎样的过程，才能抵达用户面前？<br/>
            一位新人，要经历怎样的成长，才能站在技术之巅？<br/>
            摘自---百度<br/>
            学习是一种信仰， 分享是一种态度。只想把自己所学实践一下，把努力坚持养成一种习惯，做自己喜欢的事，做自己擅长的事，每天都让自己快乐生活,做好自己的事！
        </div>
        <div class="about-pay">
            <p>欢迎赞赏</p>
            <ul>
                <li><img src="/static/index/images/alipay.jpg" alt="pay"/></li>
                <li class="wexinpay"><img src="/static/index/images/wexinpay.jpg" alt="pay"/></li>
            </ul>
        </div>
    </div>
</div>
{include file="index/footer" /}