
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
    <title>之梦</title>
    <link rel="stylesheet" href="/static/index/css/base.css">
    <link rel="stylesheet" href="/static/index/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/index/css/app.css">
</head>
<body>

    <div class="head">
    	<div class="head-logo">
    		<a href="/"><img src="/static/index/images/logo.png" alt="logo"/><span>之梦</span></a>
    	</div>
        <form action="" method="post">
            <select data-am-selected>
    		  <option value="a">Apple</option>
    		  <option value="b" selected>Banana</option>
    		  <option value="o">Orange</option>
    		  <option value="m">Mango</option>
    		</select>
           
            <input type="text" name="uname" value="" placeholder="请输入要查找的用户">
            <button type="submit">搜索</button>
        </form>
    </div>
